/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {
    font-family: "Popins", sans-serif;
    background-color: #a4c2d1;
}

h1, h2 {
    font-family: "DM Serif Display", serif;
    color: #184f63;
}

.sharp-corners, .sharp-corners * {
    border-radius: 0;
}

.btn {
    border-color: #1f7798;
    background-color: #fff;
    color: #1f7798;
}

.btn:hover {
    background-color: #1f7798;
    color: #FFF;
}

/* Header */

#hero {
    background-color: #dbdcde;
    background-image: url(../images/background.webp);
    background-size: cover;
    background-position: 50% 70%;
    padding: 5% 7%;
    min-height: 500%;
}

/* About Section */

#about {
    background-color: #fff;
}

/* Portfolio */

#portfolio {
    background-color: #dbdcde;
}

#portfolio .card-title {
    color: #1f7798;
    font-size: 1.2rem;
}

#portfolio .card-text {
    min-height: 150px;
}

#portfolio .btn-outline-secondary {
    border-color: #1f7798;
    color: #1f7798;
}

#portfolio .btn-outline-secondary:hover {
    background-color: #1f7798;
    color: #FFF;
}

/* Contact */

#contact {
    background-color: #fff;
    padding-bottom: 100px;
}

#contact form {
    color: #1d6d8a;
}

@media screen and (min-width: 992px) {
    #portfolio .card-text {
        min-height: auto;
    }
}